@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.bgImage{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('Caleb1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: bgChange 30s linear infinite;
}

@keyframes bgChange {
    0% {
        background-image: url('Cleb2.jpg');
    }
    20% {
        background-image: url('Caleb1.jpg');
    }
    25% {
        background-image: url('Cleb2.jpg');
    }
    45% {
        background-image: url('Caleb1.jpg');
    }
    50% {
        background-image: url('Cleb2.jpg');
    }
    70% {
        background-image: url('Caleb1.jpg');
    }
    75% {
        background-image: url('Cleb2.jpg');
    }
    95% {
        background-image: url('Caleb1.jpg');
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.253);
}


.content{
    top: 50%;
    left: 5%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1 {
    font-size: 64px;
    font-weight: 500;
    
}

.content h1 {
    font-size: 70px;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e66800, 0 0 40px #914905, 0 0 50px #e68a00, 0 0 60px #7c4804, 0 0 70px #e6a900;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e66800, 0 0 40px #914905, 0 0 50px #e68a00, 0 0 60px #7c4804, 0 0 70px #e6a900;
    }
  }
/*.content h1 span {
    position: absolute;
    transform: translate(-50%,-50%);
}

.content h1 span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #f4035f;
}

.content h1 span:nth-child(2) {
    color:#f4037b;
    animation: animate 4s ease-in-out infinite;
}*/

.content button {
    background: #a36b17;
    border: 2px solid #ffb84d;
    border-radius: 20px;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.content button i{
    width: 15px;
    margin-left: 10px;
}

.content button:last-child:hover{
    box-shadow: 0 0 5px 0 0 30px #e60000, 0 0 40px #910505, 0 0 50px #e60000, 0 0 60px #7c0404, 0 0 70px #e60000;
}


/*.content button:hover{
    background-color: inherit;
    transform: translateY(-10px);
    color: var(--clr-light);
    box-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 20px #03e9f4, 0 0 30px #03e9f4;
}*/

.launch-time {
    display: flex;
}

.launch-time div {
    flex-basis: 100px;
}

.launch-time div p {
    font-size: 50px;
    margin-bottom: -14px;
    color: rgb(255, 255, 180);
}

.rocket {
    filter: brightness(0) invert(1);
    width: 250px;
    position: absolute;
    right: 1%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket {
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 105%;
        opacity: 1;
    }
}

.shortclip{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.shortclip.active
{
    visibility: visible;
    opacity: 1;
}

.shortclip video
{
    position: relative;
    /*max-width: 1000px;*/
    max-width: 500px;
    outline: none;
}

.bx-x
{
    font-size: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

@media (max-width: 991px)
{
    .Shortclip video
    {
        max-width: 90%;
    }
}



